.show { 
	position:relative;
	width:90%; 
	height: 100%;
	margin:auto; 
	border:10px solid #CCC; 
	cursor:pointer;
} 
.show.topBottom {
	width: 90%;
}
.canvas{ 
	position:absolute; 
	left:0px; 
	top:0px; 
	z-index:-1;
}
.backcanvas{ 
	position:absolute; 
	left:0px; 
	top:0px; 
	z-index:-2;
}
.showleft{ 
	float:left;
	width:400px; 
}
.showright {
	float:right;
	width:400px; 
} 
.showtop, .showbottom {
	float: left;
}
.showtop {
	margin-top: 10%; 
}
.showbottom {
	margin-top: 10%;
	margin-bottom: 10%; 
}
.show .showitem{
	width:200px; 
	height:100px; 
	display:block; 
	margin:10px 0;
	border-radius:40px; 
	padding:10px;
}
.show.topBottom .showitem {
	float: left; 
	margin: 0 10px; 
}

.tools{ 
	position:fixed; 
	height:50px; 
	width: calc( 100% + 20px );
	bottom:0;
	right: 0;
	left: 0;
	border:10px solid #CCC;}
.tools div{ 
	float:right; 
	height:50px; 
	padding:0 5px; 
	margin:0 5px; 
	cursor:pointer; 
	line-height:30px;
}
.tools div:hover{ 
	color:#67114E;
}
